body{
      position: relative;
      font-size: 18px;
      font-family: 'Public Sans', sans-serif;
      overflow-x: hidden;
      color: hsl(233, 8%, 62%);
      width: auto;
}
@media all and (max-width: 1440px)
{ 
      body{
            width: auto;
      } 

}
.head2{
      display: none;
}
img{
      display: inline-block;
}
.fondResponsive{
      display: none;
}
.head{
      position: relative;
      width: 100%;
      z-index: 10;
      margin: 0;
      padding: 0;
      background-color: hsl(0, 0%, 100%);
}
ul{
      list-style-type: none;
}
li{
      line-height: 38px;
}
/* Css sur la navbar */
.navbar{
      background-color: hsl(0, 0%, 100%);
      z-index: 10;
}
/* couleur des menus nav par défaut */
.nav-link {
      color: hsl(233, 8%, 62%);
}
/* si on passe la souris dessus, une bordure en bas du lien apparait. */
.nav-link:hover {
      color: hsl(240, 1%, 50%);
      display: inline-block;
      padding-bottom:10px;
      background: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%)); 
      background-size:100% 3px;
      background-position:bottom 0 left 0,bottom 5px left 0;
      background-repeat:no-repeat;
}
.bloc1{
      position: relative;
      z-index: 10;
}
.phones{
      position: absolute;
      box-sizing: border-box;
      left: 780px;
      top: -105px;
      z-index: 6;
}
.bloc3{
      position:relative;
      z-index: -1;
      background-color: hsl(220, 16%, 96%);
      overflow: hidden;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
}
.titreWhy{
      padding-bottom: 20px;
}
.intro{
      padding-bottom: 50px;
}
.bloc4{
      padding-top: 100px;
      padding-bottom: 100px;
      background-color: hsl(0, 0%, 98%);
}
.background{
      background-color: hsl(0, 0%, 98%);
}
.blocMiddle{
      padding-top: 150px;
      width: 100%;
}

/* On définit la première image de fond et on la place avec background-position-x et y */
.imgFond{
      position: relative;
      background: url('../images/bg-intro-desktop.svg') content-box;
      background-color: hsl(0, 0%, 98%);
      height: 29em;
      width: auto;
      background-size: 85%;
      background-position-x: 610px;
      background-position-y: -246px;
      background-repeat: no-repeat;
      overflow: hidden;
}
.miniArticle{
      background-color: hsl(0, 0%, 100%);
}
.img{
      width: 38em;
}
.para1{
      margin-top: 100px;
      text-align: left;
}
button{
      background: linear-gradient(hsl(192, 70%, 51%), hsl(136, 65%, 51%));
      width: 150px;
}
.formeBtn{
      border-radius: 20px;
      color: hsl(0, 0%, 100%);
}
img{
      display: inline-block;
      z-index: 3;
}
.container-fluid 
{ 
      padding: 0;
}
/* couleur des titres avec leurs dimenssions */
h1,h3,h5,h6{
      color: black;
}
h1{
      font-weight: 700;
      font-size: 2.8em;
      width: 400px;
      padding-top: 0.7em;
      padding-bottom: 30px;
}
h3{
      font-weight: 500;
      font-size: 2.1em;
}
h5{
      font-weight: 300;
      font-size: 1.5em;
      margin-top: 1em;
      margin-bottom: 1em;
}
h6{
      font-size: 1.2em;  
}
h6:hover{
      cursor: pointer;
      color: hsl(192, 70%, 51%);
}
.titreWhy{
      padding-bottom: 20px;
}
.titre3{
      margin-bottom: 30px;
}
/* bordure sur le haut des images */
.imgborder{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-bottom: 1.5em;
}
/* Partie footer */
footer{
      padding-top: 50px;
      background-color: hsl(233, 26%, 24%);
      color: white;
      height: 12em;
      font-size: 16px;
}
.logo{
      margin-bottom: 3em;
}
/* les logos en fin de page */
.logoImg{
      margin-right: 0.4em;
}
.logoImg:hover{
      color: hsl(136, 65%, 51%);
      cursor: pointer;
}
/* Placement du dernier bouton dans le footer*/
.btn3{
      margin-top: 0.5em;
}
/* placement des élément dans le footer et coloration */
.flex{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
}
.liens a{
      color:  hsl(0, 0%, 98%);
      margin-bottom: 20px;
}
.liens a:hover{
      color: hsl(136, 65%, 51%);
      text-decoration: none;
}
.lienI{
      margin-top: 60px;
}
.test:hover{
      fill:  hsl(136, 65%, 51%);
}
.texteFin{
      font-size: 15;
      margin-top: 2.1em;
      color: hsl(233, 8%, 62%);
}
@media screen and (max-width: 375px)
{     
      .head{
            display: none;
      }
      .head2{
            display: flex;
      }
      .head2 button{
            width: 50px;
            background: hsl(0, 0%, 100%);
      }
      .head2 i{
            color: black;
      }
      #btnMenu{
            display: none;
            justify-content: center;
            background-color: hsl(0, 0%, 100%);            
            text-align: center;
            margin: auto;
            height: 80vw;
            width: 85%;
            border-radius: 5px;
            padding-bottom: 60px;
      }
      #btnMenu a{
            color: black;
      }
      #btnNav{
            display: block;
      }
      #btnNav2{
            display: none;
      }
      #btnLogo1{
            display: block;
      }
      #close{
            display: none;
      }
      h1{
            padding-top: 0em;
            font-size: 2.3em;
            text-align: center;
            width: 340px;
      }
      .texte{
            font-size: 16px;
      }
      .titre3{
            font-size: 2em;
      }
      .intro br{
            display: none;
      }
      .titreWhy{
            font-size: 2em;
      }
      .bloc3{
            font-size: 16px;
      }
      .fondResponsive{
            width : auto;
            position: relative;
            background: url('../images/bg-intro-mobile.svg') content-box;
            background-color: hsl(0, 0%, 98%);
            height: 20em;
            background-size: 100%;
            background-position-x: 0px;
            background-position-y: 50%;
            background-repeat: no-repeat;
            overflow: hidden;
            display: flex;
            position: relative;
            }
      .phones{
            position: absolute;
            box-sizing: border-box;
            left: 2px;
            top: -80px;
            z-index: 6;
            width: 250px;
            display : flex;
            }
      .img{
            width: 19.5em;
            }
      .imgFond{
            width : auto;
            background-color: hsl(0, 0%, 98%);
            height: 25em;
            overflow: hidden;
            display: flex;
      }
      .btn1{
            margin-top: 20px;
      }
      .para1{
            text-align: center;
            margin-top: 50px;
      }
      .titreWhy{
            text-align: center;
      }
      .intro{
            text-align: center;
            line-height: 20px;
      }
      .artMiddle{
            text-align: center;
      }
      .titre3{
            text-align: center;
      }
      .miniArticle{
            text-align: justify;
            margin: auto;
            width:324px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
      }
      .texteArticle{
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            padding-bottom: 30px;
            margin-bottom: 20px;
      }
      .miniArticle img{
            width: 324px;
      }
      footer{
            height: 120vw;
            padding-top: 0px;
            text-align: center;
      }
      .flex{
            align-items: center;
      }
      .liens a{
      padding-right: 30px;
      }
      .liens{
            margin-bottom: -15px;
      }
      .texteFin{
      margin-top: 0.9em;
      }
      .lienI{
      margin-top: 20px;
      margin-bottom: 20px;
      }
      .logo{
            margin-bottom: 10px;
            margin-top: 30px;
            padding-right: 4px;
      }
      .logoImg{
      margin-right: 0.5em;
      }

}


